<?xml version='1.1' encoding='UTF-8'?>
<slave>
  <name>slave1</name>
  <description></description>
  <remoteFS>/home/slave1/jenkins</remoteFS>
  <numExecutors>2</numExecutors>
  <mode>NORMAL</mode>
  <retentionStrategy class="hudson.slaves.RetentionStrategy$Always"/>
  <launcher class="hudson.plugins.sshslaves.SSHLauncher" plugin="ssh-slaves@1.806.v2253cedd3295">
    <host>172.31.94.132</host>
    <port>22</port>
    <credentialsId>184fbd02-043a-4308-9cf7-cc536bb5dc30</credentialsId>
    <launchTimeoutSeconds>60</launchTimeoutSeconds>
    <maxNumRetries>10</maxNumRetries>
    <retryWaitTime>15</retryWaitTime>
    <sshHostKeyVerificationStrategy class="hudson.plugins.sshslaves.verifiers.KnownHostsFileKeyVerificationStrategy"/>
    <tcpNoDelay>true</tcpNoDelay>
  </launcher>
  <label>tomcat</label>
  <nodeProperties/>
</slave>